body, html{
	background-color: #F3F3F3;
	min-height: 100vh;
}

#navbar{
	background-color: #0073B0;
	height: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
}
.indTab{
	margin-bottom: 0px;
}
#tabBar{
	width: 100vw;
	background-color: #003f61;
}
.tabs{
	margin-top: 17px;
	min-width: 100vw;
}   
.tabs .tab a{
	color: #FFFFFF;
}
.tabs .tab a:hover{
	color: #FFFFFF;
}
.tab-row {
	padding:0 !important;
}
.indicator {
	background-color: #FFFFFF !important;
}
#contactCategory{
	margin-bottom: 0px;
	background-color: #F0F4F7;
}
#options{
	padding: 0px;
	min-height: 100vh;
	background-color: #003F61;
}
#output{
	padding: 0px;
}
#contacts{
	margin-top: 0px;
}
#all{
	color: #003F61;
	height: 100px;
}
#friends{
	color: #003F61;
	height: 100px;
}
#family{
	color: #003F61;
	height: 100px;
}
#business{
	color: #003F61;
	height: 100px;
}
#addNew{
	color: #003F61;
	height: 100px;
}
#addBtn{
	width: 100%;
	background-color: #003F61;
}
#modal1{
	padding-left: 20px;
	padding-right: 20px;
}
#contactHeaderBar{
	padding: none;
}
#selection{
	margin: 0px;
}
.collection{
	margin-top: 0px;
	min-height: 100%;
}
