body, html{
	background-color: #F3F3F3;
	min-height: 100vh;
	font-family: "Helvetica Neue";
}
/*NAVBAR*/
#navbar{
	background-color: #0073B0;
	height: 82px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
}
.navbarSelection{
	cursor: pointer;
}
.navbarSelectionBackGr{
	border-radius: 45%;
}
#getPeople{
	cursor: pointer;
}
.dropdown-content li > a, .dropdown-content li > span {
	color: #0073B0;
}
.indTab{
	margin-bottom: 0px;
}
#tabBar{
	width: 100vw;
	background-color: #003f61;
}
.tabs{
	margin-top: 17px;
	min-width: 100vw;
}   
.tabs .tab a{
	color: #FFFFFF;
}
.tabs .tab a:hover{
	color: #FFFFFF;
}
.tab-row {
	padding:0 !important;
}
.indicator {
	background-color: #E0BC28 !important;
}

   /* label focus color */
.input-field input[type=text]:focus + label {
     color: #0073B0;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #0073B0;
     box-shadow: 0 1px 0 0 #0073B0;
}
   /* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #0073B0;
     box-shadow: 0 1px 0 0 #0073B0;
}
[type="checkbox"]:checked + label:before {
	border-right: 2px solid #0073B0; 
    border-bottom: 2px solid #0073B0;
}
[type="checkbox"].filled-in:checked + label:after {
	border:#0073B0;
	background-color: #0073B0;
}
[type="radio"].with-gap:checked + label:before {
	background-color: #0073B0;
	border-color: #0073B0;
}
#searchFraction{
	margin: 0px;
}
#searchFractionOutput{
	font-size: 20px;
	color: #384850;
}
#fraction{
	padding-top: 10px;
}
#contactCategory{
	margin-bottom: 0px;
	background-color: #F0F4F7;
	border:1px solid;
	border-color: #FFFFFF;
}
#customTagName{
	background-color: #FFFFFF;
	margin-bottom: 0px;
	padding-right: 5px;
	padding-left: 5px;
}
#options{
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 100vh;
	background-color: #F8FAFB;
}
#filterHeader{
	color: #939393;
}
#CB{
	border: 1px solid;
	border-color: #000000;
}
#output{
	padding: 0px;
}
#contacts{
	margin-top: 0px;
}
.hiddenNameBoolean{
	display: none;
}
.hiddenEmailBoolean{
	display: none;
}
.hiddenTagBoolean{
	display: none;
}
.hiddenIdBoolean{
	display: none;
}
.hiddenSignUpBoolean{
	display: none;
}
.hiddenNameEdit{
	display: none;
}
.hiddenPhoneEdit{
	display: none;
}
.hiddenEmailEdit{
	display: none;
}
.hiddenTagEdit{
	display: none;
}
#addNew{
	color: #003F61;
	height: 50px;
}
#addBtn{
	width: 100%;
	background-color: #003F61;
}
#modal1{
	padding-left: 20px;
	padding-right: 20px;
}
#contactHeaderBar{
	padding: none;
}
#selection{
	margin: 0px;
	cursor: pointer;
}
.collection{
	margin-top: 0px;
	min-height: 100%;
}
#equalTo{
	font-size: 25px;
	color: #939393;
}